@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/gothampro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('fonts/gothamprobold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
